body
{
    margin: 0;
    padding: 0;
    border: 0;
    /*background-image: url(./image/WhatsApp\ Image\ 2021-10-16\ at\ 2.16.33\ PM.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
    background-size: cover*/
    /*background-color: #033E3E;*/
}
.header
{
    width: 100%;
    margin-top: 1rem;
    
}
.left
{
    float: right;
    margin-top: 3rem;
}
.right
{
    float: left;
    margin-left: 5rem;
    color: white;
    margin-top: 7rem;
    
    
}
.right h1{
    font-size: 4rem;
    color: white;
    line-height: 1;
    animation-name: example;
    
  animation-duration: 7s;
  animation-iteration-count: infinite;
}
.wrapper
{
    margin-bottom: 6rem;
    margin-top: 0%;
    
}
.box
{
    font-size: 4rem;
    color: white;
    opacity: 0;
    position: absolute;
    font-style: italic;
    font-family: century gothic;
}

.b1
{
    animation: ani1 10s infinite;
}
.b2
{
    animation: ani2 10s infinite;
}
.b3
{
    animation: ani3 10s infinite;
}
.b4
{
    animation: ani4 10s infinite;
}

@keyframes ani1 {
    0%{opacity: 0;}
    10%{opacity: 1; color: red;}
    20%{opacity: 0;}
    
    
}
@keyframes ani2 {
    20%{opacity: 0;}
    30%{opacity: 1; color: yellow;}
    40%{opacity: 0;}
    
}
@keyframes ani3 {
    40%{opacity: 0;}
    50%{opacity: 1; color: blue;}
    60%{opacity: 0;}
    
}
@keyframes ani4 {
    60%{opacity: 0;}
    70%{opacity: 1; color: green;}
    80%{opacity: 0;}
    
}

.right p{
    line-height: 1;
    
    font-style: italic;
   
}
.mid
{
    background-color: #033E3E;
    height:45rem;
}
.project
{
    margin-top: 5rem;
    background-color: white;
    height: auto;
   text-decoration: underline;
   font-weight: 700;
    
}
.project h1{
    color: black;
    position: relative;
    text-transform: uppercase;
    animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes example {
    0%   {color:red; }
    25%  {color:yellow;   }
    50%  {color:blue; }
    75%  {color:green;}
    100% {color:red; }
  }

  .design
  {
      margin-left: 1rem;
      margin-top: 8rem;
      font-size: 2.5rem;
      line-height: 2rem;
      font-weight: 600;
      text-align: center;
      color: black;
      font-style: italic;
      height: 500px;
      animation: glow 1s ease-in-out infinite alternate;
  }
 
  
 

  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(42, 42, 107), 0 0 40px rgb(42, 42, 107), 0 0 50px rgb(42, 42, 107), 0 0 60px rgb(42, 42, 107), 0 0 70px rgb(42, 42, 107);
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px rgb(5, 5, 128), 0 0 40px rgb(5, 5, 128), 0 0 50px rgb(5, 5, 128), 0 0 60px rgb(5, 5, 128), 0 0 70px rgb(5, 5, 128), 0 0 80px rgb(5, 5, 128);
    }
  }
 


  .wrapperi{
    width: 400px;
    font-family: 'Roboto', sans-serif;
margin:0 auto;
}
.skill {
    margin-bottom: 35px;
    position: relative;
        overflow-x:hidden;
        
}
.skill > p {
    font-size: 18px;
    font-weight: 700;
    color: #1a1716;
    margin: 0;
}
.skill:before{
    width: 100%;
    height: 5px;
    content: "";
    display: block;
    position: absolute;
    background: #959595;
    bottom: 0;
}
.skill-bar {
    width: 100%;
    height: 5px;
    background:#f4392f;
    display: block;
    position: relative;
}

/* SKILL 1 */
.skill1{
    width: 95%;
        
}
.skill-bar span{
    position: absolute;
    border-top: 5px solid #f4392f;
    top: -30px;
    padding: 0;
    font-size: 18px;
    padding: 3px 0;
    font-weight: 500;
}
.skill-bar {
    position: relative;
        
}

.skill1 .skill-count1 {
    right: 0;
}
/* SKILL 2 */
.skill2{
    width: 85%;
}

.skill2 .skill-count2 {
    right: 0;
}
/* SKILL 3 */
.skill3{
    width: 75%;
}
.skill3 .skill-count3 {
    right: 0;
}

/* SKILL 4 */
.skill4{
    width: 65%
}

.skill4 .skill-count4 {
    right: 0;
}

/* SKILL 5 */
.skill5{
    width: 80%;
}

.skill5 .skill-count5 {
    right: 0;
}

/* SKILL 6 */
.skill6{
    width: 90%
}

.skill6 .skill-count6 {
    right: 0;
}
/* GITHUB SOURCE STYLE  */
.github-source{
float:right;
display:block;
color:#fff;
margin:0 20px;
position: absolute;
z-index:999999;
top:0;
}
.github-source i{
font-size:50px;
color:#000
}



.how-title
{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0%;
    animation-name: pro;
    animation-duration: 4s;
  animation-iteration-count: infinite;


}


@keyframes pro {
    0%   {color:red; font-size: 1.5rem;}
    10%  {color:yellow; font-size: 1.5rem; }
    20%  {color:blue; font-size: 1.6rem;}
    30%  {color:green; font-size: 1.6rem;}
    40% {color: brown; font-size: 1.75rem;}


    50%   {color:rgb(170, 13, 13); font-size: 1.7rem;}
    60%  {color:rgb(160, 160, 9); font-size: 1.8rem;}
    70%  {color:rgb(11, 11, 143); font-size: 1.7rem;}
    80%  {color:rgb(8, 141, 8); font-size: 1.6rem;}
    90% {color: rgb(110, 6, 6); font-size: 1.5rem;}
    100% {color: rgb(38, 70, 38); font-size: 1.5rem;}
    
    
  }

  .navbar .nav-item:hover .nav-link{
    font-size: larger;
    color: red;
    background-color: red;
    
  }

  .navbar .nav-item:hover .btn
  {
    font-size: large;
  }
  .col-lg-4 {
    
   
    padding: 14px 80px 18px 36px;
      animation-name: view;
      animation-duration: 4s;
      animation-iteration-count: 3;
      animation-delay: 10s;
    
}


.card:hover{
     transform: scale(1.05);
  
}








  
 

  
























